# {{ ansible_managed }}


systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_conf_log_dir }}/mongod.log

storage:
  dbPath: {{ mongodb_conf_db_dir }}
  journal:
    enabled: {{ mongodb_conf_journal|to_nice_json|bool|lower }}
  engine: {{ mongodb_conf_dbEngine }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: 1

processManagement:
  fork: true
{% if ansible_os_family == "RedHat" %}
  pidFilePath: /var/run/mongodb/mongod.pid
{% endif %}
{% if ansible_os_family == "Debian" %}
  pidFilePath: /run/mongodb/mongod.pid
{% endif %}
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: {{ mongodb_conf_port|int }}
  bindIp: {{ mongodb_conf_bindIp }}
  maxIncomingConnections: {{ mongodb_conf_maxConns|int }}


security:
{% if mongodb_conf_auth %}
  authorization: {{ 'enabled' if mongodb_conf_auth else 'disabled' }}
{% endif %}
  keyFile: {{ mongodb_replication_key_file }}
  #javascriptEnabled: false


#operationProfiling:

replication:
  replSetName: {{ mongodb_replication_set_name }}

#sharding:

cloud:
   monitoring:
      free:
         state: {{ mongodb_conf_cloudmonitoring }}

## Enterprise-Only Options

#auditLog:

#snmp:
